flows.json
[{"id":"1518b260.8a3b4e","type":"tab","label":"Home","disabled":false,"info":""},{"id":"63223b27.3a3784","type":"tab","label":"Rent","disabled":false,"info":""},{"id":"1301df2d.671481","type":"tab","label":"Statistics","disabled":false,"info":""},{"id":"4a202dd0.e41184","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Troller","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY-MM-DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d520a0bc.560f2","type":"ui_group","name":"Sign up","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"41622fbd.84789","type":"ui_group","name":"Home","tab":"6019b228.6d99ac","order":1,"disp":false,"width":"20","collapse":false},{"id":"8fe3f637.b28208","type":"ui_group","name":"Login","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6019b228.6d99ac","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6b46941e.91190c","type":"ui_spacer","name":"spacer","group":"41622fbd.84789","order":2,"width":1,"height":1},{"id":"a663d791.623bc8","type":"ui_spacer","name":"spacer","group":"8fe3f637.b28208","order":2,"width":"1","height":"1"},{"id":"d169b238.c7c46","type":"ui_spacer","name":"spacer","group":"8fe3f637.b28208","order":1,"width":1,"height":1},{"id":"2888b6bf.dd488a","type":"ui_spacer","name":"spacer","group":"ca57c33d.ad8ed","order":2,"width":1,"height":1},{"id":"d88e8e43.075de","type":"MySQLdatabase","name":"","host":"mysql","port":"3306","db":"Trolling","tz":"GMT+2","charset":""},{"id":"27663daf.999482","type":"ui_group","name":"Rent","tab":"b5248495.e36c78","order":1,"disp":false,"width":"12","collapse":false},{"id":"b5248495.e36c78","type":"ui_tab","name":"Rent","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"783bda23.9c29a4","type":"ui_group","name":"Maintenance","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"517ae73d.5c4238","type":"ui_group","name":"ShowStatisticsButton","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"8da58769.7feec8","type":"ui_group","name":"Unlock","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"d1cdac1a.53765","type":"ui_group","name":"DropDown","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"eb3fecb4.f17a","type":"ui_group","name":"Manage kickscooters","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"db23de68.291ad","type":"ui_group","name":"Rents/month","tab":"a410d5b2.221398","order":1,"disp":true,"width":"8","collapse":true},{"id":"6761ce81.5d74","type":"MySQLdatabase","name":"","host":"mysql","port":"3306","db":"Trolling","tz":"GMT+2","charset":""},{"id":"a410d5b2.221398","type":"ui_tab","name":"Statistics","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7a3c18a2.cfe398","type":"ui_group","name":"Return","tab":"b5248495.e36c78","order":2,"disp":false,"width":"12","collapse":false},{"id":"582f4409.3653ac","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7875f18a.8f29","type":"mui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"83180e84.ccf8b","type":"mui_group","name":"Default","tab":"7875f18a.8f29","disp":true,"width":"6","collapse":false},{"id":"7e4c65d6.0419cc","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"72b9af02.ce912","type":"ui_group","name":"Money saved by one kickscooter","tab":"a410d5b2.221398","order":2,"disp":true,"width":"8","collapse":true},{"id":"a715d0a2.20926","type":"ui_group","name":"Carbon footprint comparison","tab":"a410d5b2.221398","order":3,"disp":true,"width":"8","collapse":true},{"id":"9cb3681e.6f3788","type":"function","z":"63223b27.3a3784","name":"select-kickscooters","func":"//SELECT Query\nmsg.topic ='SELECT kickscooters.id, kickscooterName, stateName FROM kickscooters  JOIN states  on states.id = kickscooters.stateId where stateName=\"available\";';\n// msg.topic = 'SELECT * FROM states;'\nnode.warn(msg)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":160,"wires":[["294114a5.ddd4ec"]]},{"id":"294114a5.ddd4ec","type":"mysql","z":"63223b27.3a3784","mydb":"d88e8e43.075de","name":"database","x":540,"y":160,"wires":[["ecb068b2.97ed88"]]},{"id":"ecb068b2.97ed88","type":"function","z":"63223b27.3a3784","name":"transform data to correct format","func":"options = [];//create empty array\nnode.warn(msg)\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; //get the row\n    let opt = {};//make new opt object'\n    global.set(\"kickscooterId\", row.id);\n    opt[\"id\"] = row.id;\n    opt[\"title\"] = \"<font size=5 color=\\\"green\\\"><b>\" + row.kickscooterName + \"</b>\";\n    opt[\"description\"] = \"<font size=3><b>state: \" + row.stateName + \"</b><br/><b> id: \" + row.id +\"</b>\";\n    options.push(opt)\n}\nmsg.payload = options;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":160,"wires":[["ad49c775.841418"]]},{"id":"79ee8f97.3acc2","type":"function","z":"63223b27.3a3784","name":"rent","func":"if(msg.payload==\"OK\")\n{\n    msg.topic ='update kickscooters set stateId=(select id from states where stateName=\"rented\") where id=' + global.get(\"kickscooterId\") + ';' +\n    'insert into rents(userId,kickscooterId,rentDate) values(' + 1 + ',' + global.get(\"kickscooterId\") + ',CURRENT_TIMESTAMP);';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":380,"wires":[["b307675a.fa9668"]]},{"id":"8ac6e1fd.33b45","type":"ui_text","z":"63223b27.3a3784","group":"27663daf.999482","order":1,"width":0,"height":0,"name":"","label":"<font size=5><b>Select the kickscooter you want to rent</b>","format":"{{msg.payload}}","layout":"row-spread","x":280,"y":100,"wires":[]},{"id":"350e25c0.32080a","type":"ui_toast","z":"63223b27.3a3784","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":470,"y":380,"wires":[["79ee8f97.3acc2"]]},{"id":"2b5f832a.02d17c","type":"ui_toast","z":"63223b27.3a3784","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Confirmation","name":"","x":1220,"y":380,"wires":[]},{"id":"b307675a.fa9668","type":"mysql","z":"63223b27.3a3784","mydb":"d88e8e43.075de","name":"database","x":800,"y":380,"wires":[["7bda1128.4336c"]]},{"id":"2f2adc38.f52ef4","type":"function","z":"63223b27.3a3784","name":"question","func":"node.warn(msg.payload.id)\n// global.set(\"kickscooterId\", msg.payload.id);\nmsg.payload=\"Are you sure you want to rent the selected kickscooter?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":380,"wires":[["350e25c0.32080a"]]},{"id":"7bda1128.4336c","type":"function","z":"63223b27.3a3784","name":"confirmation","func":"msg.payload = \"Rent successfully done\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":380,"wires":[["2b5f832a.02d17c","65e4bb78.695164"]]},{"id":"ec12a88a.da1a48","type":"function","z":"1301df2d.671481","name":"all kickscooters - number of rent/month","func":"var m = [\n    {label:\"April\", payload:20, series:\"X\"},\n    {label:\"May\", payload:12, series:\"X\"},\n    {label:\"June\", payload:22, series:\"X\"},\n    {label:\"July\", payload: 40, series:\"X\"},\n    {label:\"August\", payload: 63, series:\"X\"},\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":360,"wires":[["d2ed290f.ac4d98"]]},{"id":"d2ed290f.ac4d98","type":"ui_chart","z":"1301df2d.671481","name":"","group":"db23de68.291ad","order":3,"width":0,"height":0,"label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1010,"y":360,"wires":[[]]},{"id":"e1f9d55f.673658","type":"function","z":"1301df2d.671481","name":"money saved","func":"var m = [\n    {label:\"Gas Money\", payload:200, series:\"X\"},\n    {label:\"Taxi Money\", payload:150, series:\"X\"},\n    {label:\"Bus Money\", payload:60, series:\"X\"},\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":460,"wires":[["4f2c3665.7c1188"]]},{"id":"4f2c3665.7c1188","type":"ui_chart","z":"1301df2d.671481","name":"","group":"72b9af02.ce912","order":2,"width":0,"height":0,"label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#d05d7a","#ddc840","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":460,"wires":[[]]},{"id":"55681fbe.1fa98","type":"function","z":"1301df2d.671481","name":"carbon footprint comparison","func":"var m = [\n    {label:\"average diesel car\", payload:200, series:\"X\"},\n    {label:\"average petrol car\", payload:150, series:\"X\"},\n    {label:\"average petrol motorbike\", payload:60, series:\"X\"},\n    {label:\"kickscooter\", payload:10, series:\"X\"},\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":560,"wires":[["7470c5cc.587c2c"]]},{"id":"7470c5cc.587c2c","type":"ui_chart","z":"1301df2d.671481","name":"","group":"a715d0a2.20926","order":3,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":560,"wires":[[]]},{"id":"bcdbaeeb.7f198","type":"ui_text","z":"63223b27.3a3784","group":"7a3c18a2.cfe398","order":1,"width":0,"height":0,"name":"","label":"<font size=5><b>Currently rented</b>","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":580,"wires":[]},{"id":"e775c142.26341","type":"function","z":"63223b27.3a3784","name":"select-kickscooters","func":"//SELECT Query\nmsg.topic ='select kickscooters.id, kickscooterName, rentDate from rents join kickscooters on rents.kickscooterId = kickscooters.id ' +\n           'where kickscooters.stateId = (select id from states where stateName = \\'rented\\') and currentlyRented = 1;';\n// msg.topic = 'select id, kickScooterName from kickscooters;';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":640,"wires":[["ae45c5ec.28c988"]]},{"id":"ae45c5ec.28c988","type":"mysql","z":"63223b27.3a3784","mydb":"d88e8e43.075de","name":"database","x":480,"y":640,"wires":[["f1e70d71.bc73c"]]},{"id":"f1e70d71.bc73c","type":"function","z":"63223b27.3a3784","name":"transform data to correct format","func":"options = [];//create empty array\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; //get the row\n    let opt = {};//make new opt object'\n    global.set(\"kickscooterId\", row.id);\n    opt[\"id\"] = row.id;\n    opt[\"title\"] = \"<font size=5 color=\\\"orange\\\"><b>\" + row.kickscooterName + \"</b>\";\n    opt[\"description\"] = \"<font size=3><b>rent date: \" + row.rentDate + \"</b>\";\n\n    // msg.options.push(opt);//add the opt to array    \n    options.push(opt)\n}\nmsg.payload = options;\nnode.error(msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":640,"wires":[["3f3f0d55.e72ff2"]]},{"id":"5294c594.b1309c","type":"function","z":"63223b27.3a3784","name":"return","func":"node.warn(global.get(\"kickscooterId\"))\nif(msg.payload==\"OK\") {\n    msg.topic ='update kickscooters set stateId=(select id from states where stateName=\"available\") where id=' + global.get(\"kickscooterId\") + ';' +\n               'update rents set returnDate=CURRENT_TIMESTAMP, currentlyRented=0 where currentlyRented=1 and kickscooterId=' + global.get(\"kickscooterId\") + ';';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":820,"wires":[["bbf8781b.c8f6c8"]]},{"id":"b5fd1232.73274","type":"ui_toast","z":"63223b27.3a3784","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":450,"y":820,"wires":[["5294c594.b1309c"]]},{"id":"3c74691.8afdc96","type":"ui_toast","z":"63223b27.3a3784","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Confirmation","name":"","x":1160,"y":820,"wires":[]},{"id":"bbf8781b.c8f6c8","type":"mysql","z":"63223b27.3a3784","mydb":"d88e8e43.075de","name":"database","x":760,"y":820,"wires":[["18029dae.ba25b2"]]},{"id":"748eb8ea.b29d68","type":"function","z":"63223b27.3a3784","name":"set dialog message","func":"msg.payload=\"Returning kickscooter...\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":820,"wires":[["b5fd1232.73274"]]},{"id":"18029dae.ba25b2","type":"function","z":"63223b27.3a3784","name":"confirmation","func":"msg.payload = \"Returned successfully.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":820,"wires":[["3c74691.8afdc96","7dd85b60.f9c5b4"]]},{"id":"ad49c775.841418","type":"ui_list","z":"63223b27.3a3784","group":"27663daf.999482","name":"","order":2,"width":"0","height":"0","lineType":"three","actionType":"check","allowHTML":true,"outputs":1,"topic":"","x":1030,"y":160,"wires":[["5e934c3f.d58a84","d257e6e1.d6a228"]]},{"id":"3f3f0d55.e72ff2","type":"ui_list","z":"63223b27.3a3784","group":"7a3c18a2.cfe398","name":"","order":1,"width":"0","height":"0","lineType":"three","actionType":"check","allowHTML":true,"outputs":1,"topic":"","x":936,"y":636,"wires":[["95b92357.b80d7","f7983a7d.d38018"]]},{"id":"95b92357.b80d7","type":"debug","z":"63223b27.3a3784","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1116,"y":636,"wires":[]},{"id":"ffe7296a.b154a8","type":"ui_button","z":"63223b27.3a3784","name":"","group":"27663daf.999482","order":5,"width":0,"height":0,"passthru":false,"label":"Rent","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":380,"wires":[["2f2adc38.f52ef4"]]},{"id":"5e934c3f.d58a84","type":"debug","z":"63223b27.3a3784","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":160,"wires":[]},{"id":"981a948f.00c938","type":"inject","z":"63223b27.3a3784","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["9cb3681e.6f3788"]]},{"id":"d257e6e1.d6a228","type":"function","z":"63223b27.3a3784","name":"","func":"global.set(\"kickscooterId\", msg.payload.id);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":220,"wires":[[]]},{"id":"8cb39a1e.6d8e88","type":"inject","z":"63223b27.3a3784","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":640,"wires":[["e775c142.26341"]]},{"id":"f7983a7d.d38018","type":"function","z":"63223b27.3a3784","name":"","func":"global.set(\"kickscooterId\", msg.payload.id);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":700,"wires":[[]]},{"id":"9b485695.be72d8","type":"ui_ui_control","z":"63223b27.3a3784","name":"","events":"all","x":120,"y":220,"wires":[["9cb3681e.6f3788"]]},{"id":"c9e68afb.2b6948","type":"ui_ui_control","z":"63223b27.3a3784","name":"","events":"change","x":100,"y":560,"wires":[["e775c142.26341"]]},{"id":"5ad051cb.d187b","type":"ui_ui_control","z":"63223b27.3a3784","name":"","events":"all","x":1320,"y":900,"wires":[[]]},{"id":"75fc0346.54945c","type":"ui_button","z":"63223b27.3a3784","name":"","group":"7a3c18a2.cfe398","order":6,"width":0,"height":0,"passthru":false,"label":"Return","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":820,"wires":[["748eb8ea.b29d68"]]},{"id":"7dd85b60.f9c5b4","type":"change","z":"63223b27.3a3784","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":900,"wires":[["5ad051cb.d187b"]]},{"id":"73ac15c9.3eee5c","type":"ui_ui_control","z":"63223b27.3a3784","name":"","events":"all","x":1380,"y":460,"wires":[[]]},{"id":"65e4bb78.695164","type":"change","z":"63223b27.3a3784","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":460,"wires":[["73ac15c9.3eee5c"]]},{"id":"e1ea27d1.7559f8","type":"ui_text","z":"1518b260.8a3b4e","group":"41622fbd.84789","order":1,"width":0,"height":0,"name":"","label":"<font size=7><b>Welcome Troller!</b>","format":"{{msg.payload}}","layout":"row-center","x":730,"y":180,"wires":[]},{"id":"4b663c2e.a40b54","type":"ui_text","z":"1518b260.8a3b4e","group":"41622fbd.84789","order":1,"width":0,"height":0,"name":"","label":"<font size=5><b>Thanks for taking care of our planet!</b>","format":"{{msg.payload}}","layout":"col-center","x":730,"y":240,"wires":[]},{"id":"89fbb582.f26f68","type":"ui_ui_control","z":"1301df2d.671481","name":"","events":"all","x":340,"y":420,"wires":[["ec12a88a.da1a48","55681fbe.1fa98","e1f9d55f.673658"]]}]